<div class="spacer-1"></div>

<div class="layout-row layout-align-center-start element-100pw">
  <md-card class="login-options-form">
    <md-card-title>
      <h1 class="md-title">Најавете се</h1>
    </md-card-title>
    <md-card-content class="element-100pw layout-row layout-wrap">
      <md-button class="authenticate facebook" ng-click="vm.authenticate('facebook')">Најави се со Facebook</md-button>
      <md-button class="authenticate google" ng-click="vm.authenticate('google')">Најави се со Google</md-button>
    </md-card-content>
  </md-card>
</div>