body {
  background-color: #1d1e32;
  color: white; }

.login-options-form {
  width: 100%;
  max-width: 320px; }

.md-button.authenticate {
  width: 100%;
  margin: 8px 0 0; }
  .md-button.authenticate.facebook {
    background-color: #4267b2;
    color: #fff; }
  .md-button.authenticate.google {
    background-color: #3b78e7;
    color: #fff; }
