<div class="main-navbar layout-row layout-align-space-between-center">
    <a class="logo layout-row layout-align-center-center" href="/">Donger Music</a>
    <nav class="layout-row layout-align-start-center flex">
        <md-button ui-sref="home.main.popularLists">Популарни</md-button>
        <md-button ui-sref="home.main.newLists">Нови</md-button>
        <span class="flex"></span>
        <md-button class="md-icon-button">
            <md-icon>search</md-icon>
        </md-button>
        <md-button ui-sref="home.main.createList">Креирај листа</md-button>
        <md-button ui-sref="login">Најави се</md-button>
    </nav>
</div>