@import '../theme/_theme.sass'

// Playlist card 
playlist-card
  display: inline-block
  width: 276px
  margin: 8px
  perspective: 500px
  md-card
    background-color: $primaryHue3
    color: rgba(white, 0.87)
    overflow: hidden
    position: relative
    
    md-card-content
      cursor: default

  .image-wrapper
    width: 100%
    height: 220px
    position: relative
    overflow: hidden    
    img
      transition: transform 0.4s
      height: 100%
      width: auto
      position: absolute
      left: 50%
      transform: translate(-50%, 0)

  .slide-out-play-button
    position: absolute
    width: 100%
    height: 150px
    bottom: 0
    left: 0
    background-color: $accent
    transition: transform 0.35s
    transform: translate3D(0,150px,0)
    .md-button
      margin: -10px 0 0

  &:hover
    .image-wrapper img
      transform: translate3D(0,-10%,0) translateX(-50%)
    .slide-out-play-button
      transform: translate3D(0, 25px, 0) 
  &.mini
    width: 230px
    .image-wrapper
      height: 165px
    .slide-out-play-button
      height: 120px
      transform: translate3D(0, 120px, 0)
      .md-button
        margin: 10px 0 0
    &:hover
      .slide-out-play-button
        transform: translate3D(0, 0, 0)


.autocomplete-wrapper
  padding: 0 3px
  label
    font-size: 14px
    color: rgba(white, 0.7)
    margin-bottom: 5px
  md-autocomplete
    margin-top: 5px

.button-actions-wrapper 
  padding: 24px 0
  .md-button:last-of-type
    margin-right: 0

.CreatePlaylistForm
  .button-actions-wrapper
    padding: 24px 3px
  > div:first-child
    min-width: 320px

.created-songs-list
  md-list-item
    padding: 0
    font-size: 14px
    span.title
      display: inline-block
      width: 100%
      padding-left: 16px
      max-width: calc(100% - 36px)
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
    .md-button
      margin-right: 3px

.autocomplete-item-template
  width: 100%
  display: block