<navbar></navbar>
<section class="hero" style="background-image: url({{ vm.featured['background-image'] }})">
  <div class="hero-text layout-column layout-align-end-center">
    <h2>Donger Предлог</h2>
    <h1>FeelsGoodMan!</h1>
    <div class="actions layout-row layout-align-center-center">
      <md-button class="md-raised md-accent md-hue-1">
        <md-icon>play_arrow</md-icon> Пушти веднаш
      </md-button>
      <md-button>
        <md-icon>share</md-icon> Сподели
      </md-button>
      <md-button>
        <md-icon>comment</md-icon> Коментари
      </md-button>
    </div>
    <div class="recommended-stats layout-row layout-align-center-center">
      <p>1280 лајкови</p>
      <p>4.8/5 рејтинг</p>
    </div>
  </div>
</section>