<navbar></navbar>
<section class="hero">
  <div class="background-image"><img src="{{ vm.new[1].thumbnail }}"></div>
  <div class="hero-text layout-column layout-align-end-center">
    <h2>Donger Предлог</h2>
    <h1>{{ vm.new[1].title }}</h1>
    <div class="actions layout-row layout-align-center-center">
      <md-button class="md-raised md-accent md-hue-1" ui-sref="playlists.playlist({ playlistId: vm.featured.id })">
        <md-icon>play_arrow</md-icon> Пушти веднаш
      </md-button>
      <md-button>
        <md-icon>share</md-icon> Сподели
      </md-button>
    </div>
    <div class="recommended-stats layout-row layout-align-center-center">
      <p>1280 лајкови</p>
    </div>
  </div>
</section>

<section id="newPlaylists" class="popular-playlists layout-row layout-align-start-start layout-wrap">
  <div class="container">
    <h1 class="front-section-title md-title">Нови</h1>
    <playlist-card playlist="playlist" ng-repeat="playlist in vm.new | limitTo: 4"></playlist-card>
  </div>
</section>

<section id="popularPlaylists" class="popular-playlists layout-row layout-align-start-start layout-wrap">
  <div class="container">
    <h1 class="front-section-title md-title">Популарни</h1>
    <playlist-card playlist="playlist" ng-repeat="playlist in vm.popular | limitTo: 4"></playlist-card>
  </div>
</section>

<section id="yourPlaylists" class="your-playlists layout-row layout-align-start-start layout-wrap">
  <div class="container">
    <h1 class="front-section-title md-title">Твои листи - брз пристап</h1>
    <playlist-card playlist="playlist" ng-repeat="playlist in vm.your | limitTo: 4"></playlist-card>
  </div>
</section>