player
  display: block
  position: fixed
  width: 100%
  bottom: 0
  background-color: $accent
  transform: translateY(0)
  transition: .2s ease-out
  overflow: visible

  iframe
    position: absolute
    display: none

  .md-button md-icon, md-icon
    color: rgba(white, 0.9)

  &.ng-hide-add.ng-hide-add-active
    transform: translateY(100%)

  &.ng-hide-remove
    transform: translateY(100%)

  &.ng-hide-remove.ng-hide-remove-active
    transform: translateY(0)

  .volume-control
    margin-right: 8px
    overflow: hidden
    width: 24px
    transition: .2s ease-out
    padding-right: 8px
    md-icon
      margin-right: 8px
      user-select: none
    md-slider
      min-width: 72px
      width: 72px
    &:hover 
      width: 130px
      
    