<div class="spacer-1"></div>

<div class="container" ng-if="vm.lists.length">
  <h1 class="front-section-title md-title">Твои листи</h1>
  <playlist-card playlist="playlist" ng-repeat="playlist in vm.lists"></playlist-card>
</div>

<div class="container no-personal-lists" ng-if="!vm.lists.length">
  <div class="spacer-2"></div>
  
  <div class="flex-100 layout-row layout-align-center-center layout-wrap">
    
    <h2 class="md-display-1 text-center flex-100">Немаш креирано или зачувано листи</h2>
    <p class="text-center">
      Можеш да разгледаш популарни листи или да креираш своја.
    </p>
    <div class="flex-100"></div>
    <md-button class="md-accent md-hue-1 md-raised">Креирај нова листа</md-button>
    <md-button class="md-raised md-hue-2">Разгледај популарни</md-button>
  </div>
</div>