body, html {
  background-color: #1d1e32;
  color: white; }

.text-center {
  text-align: center; }

*.dark-theme {
  color: rgba(255, 255, 255, 0.87); }

body, html {
  background-color: #1d1e32;
  color: white; }

.text-center {
  text-align: center; }

*.dark-theme {
  color: rgba(255, 255, 255, 0.87); }

navbar {
  width: 100%;
  height: 70px;
  background-color: #1d1e32;
  position: relative;
  display: block;
  z-index: 1; }
  navbar .main-navbar {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 16px 0 0; }
  navbar .logo {
    width: 90px;
    height: 70px;
    text-align: center;
    color: #ed265d;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    margin-right: 48px; }
  navbar .md-button {
    text-decoration: none;
    transition: .2s ease-out; }
    navbar .md-button:hover.md-button.md-hue-1.md-primary {
      color: rgba(242, 95, 135, 0.87); }

body, html {
  background-color: #1d1e32;
  color: white; }

.text-center {
  text-align: center; }

*.dark-theme {
  color: rgba(255, 255, 255, 0.87); }

playlist-card {
  display: inline-block;
  width: 276px;
  margin: 8px; }
  playlist-card md-card {
    background-color: #2c2d4c;
    color: rgba(255, 255, 255, 0.87);
    overflow: hidden; }
  playlist-card .image-wrapper {
    width: 100%;
    height: 220px;
    position: relative;
    overflow: hidden;
    background-size: 100%; }

.autocomplete-wrapper {
  padding: 0 3px; }
  .autocomplete-wrapper label {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 5px; }
  .autocomplete-wrapper md-autocomplete {
    margin-top: 5px; }

.button-actions-wrapper {
  padding: 24px 0; }
  .button-actions-wrapper .md-button:last-of-type {
    margin-right: 0; }

.CreatePlaylistForm .button-actions-wrapper {
  padding: 24px 3px; }

.CreatePlaylistForm > div:first-child {
  min-width: 320px; }

.created-songs-list md-list-item {
  padding: 0;
  font-size: 14px; }
  .created-songs-list md-list-item span.title {
    display: inline-block;
    width: 100%;
    padding-left: 16px;
    max-width: calc(100% - 36px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .created-songs-list md-list-item .md-button {
    margin-right: 3px; }

.autocomplete-item-template {
  width: 100%;
  display: block; }

table.md-table.dark-theme th.md-column, table.md-table.dark-theme td.md-cell {
  color: rgba(255, 255, 255, 0.87);
  font-size: 16px; }
  table.md-table.dark-theme th.md-column.actions, table.md-table.dark-theme td.md-cell.actions {
    text-align: right; }
    table.md-table.dark-theme th.md-column.actions .md-button, table.md-table.dark-theme td.md-cell.actions .md-button {
      margin: 0; }

table.md-table.songs-list-table th.md-column.songName, table.md-table.songs-list-table td.md-cell.songName {
  text-align: left; }

.current-song-template {
  color: rgba(255, 255, 255, 0.87);
  margin: 36px 0 56px; }

.current-song-preview {
  width: 260px;
  height: 156px;
  background: #262842;
  margin-right: 24px;
  position: relative;
  overflow: hidden; }
  .current-song-preview img {
    position: absolute;
    width: 100%;
    height: auto;
    border: none; }

.current-song-data .front-section-title {
  margin: 0;
  font-weight: 600;
  max-width: 350px; }

#play-song-widget {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #ed265d; }
  #play-song-widget .md-button md-icon {
    color: rgba(255, 255, 255, 0.9); }

.success-dialog {
  background-color: #46b450;
  color: rgba(0, 0, 0, 0.87);
  perspective: 500px;
  padding: 16px; }
  .success-dialog md-dialog-content {
    padding: 16px;
    text-align: center; }

html, body {
  height: auto; }

ui-view {
  display: inline-block;
  width: 100%;
  min-height: 100%;
  height: auto; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

.element-100pw {
  width: 100%; }

[class^="spacer-"] {
  display: block;
  width: 100%; }

.spacer-1 {
  height: 40px; }

.spacer-2 {
  height: 80px; }

.hero {
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-bottom: 4px #ed265d solid; }
  .hero:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(29, 30, 50, 0.6); }

.hero-text {
  max-width: 720px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 65vh;
  z-index: 1; }
  .hero-text h1, .hero-text h2 {
    color: #fff;
    margin: 0; }
  .hero-text h1 {
    margin: 16px 0 40px;
    font-size: 56px;
    line-height: 1.2; }
  .hero-text h2 {
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 400; }
  .hero-text .recommended-stats {
    margin-top: 12px; }
    .hero-text .recommended-stats p {
      padding: 0 16px; }

.front-section-title {
  text-transform: uppercase;
  margin: 32px 0 16px 18px;
  padding-bottom: 12px;
  position: relative; }
  .front-section-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 5px;
    background-color: #ed265d; }
  .front-section-title.text-center:after {
    left: 50%;
    transform: translateX(-50%); }

.popular-playlists {
  margin-bottom: 24px; }

body, html {
  background-color: #1d1e32;
  color: white; }

.text-center {
  text-align: center; }

*.dark-theme {
  color: rgba(255, 255, 255, 0.87); }

.login-options-form {
  width: 100%;
  max-width: 320px; }

.md-button.authenticate {
  width: 100%;
  margin: 8px 0 0; }
  .md-button.authenticate.facebook {
    background-color: #4267b2;
    color: #fff; }
  .md-button.authenticate.google {
    background-color: #3b78e7;
    color: #fff; }

.no-personal-lists h2 {
  margin-bottom: 0px; }

.no-personal-lists p {
  margin-bottom: 32px;
  max-width: 360px;
  width: 100%; }

.create-list-wrapper {
  margin: 0 auto; }
  .create-list-wrapper .front-section-title {
    margin-left: 0;
    margin-bottom: 48px; }
  .create-list-wrapper md-input-container:not(.md-input-invalid).md-input-focused label {
    color: rgba(255, 255, 255, 0.7);
    z-index: 1; }

.global-view {
  padding-bottom: 48px; }

*.md-input-invalid .md-input-message-animation,
*[ng-messages] {
  color: #ed265d !important;
  font-size: 12px !important;
  margin-top: 5px; }

*.md-input-invalid .md-input-message-animation,
*.md-input-invalid .md-input,
*.md-input-invalid label,
*[ng-messages] {
  color: #ed265d !important;
  border-color: #ed265d !important; }
