<div class="container layout-row layout-align-center-center layout-wrap error">
  <div class="feels-image">
    <img src="/dist/assets/images/feelsbadman.png" alt="">
  </div>
  <div class="layout-column layout-align-center-start error-text">
    <h1 class="md-display-3 flex-100">Грешка 404</h1>
    <h5 class="md-title">Ресурсот не е пронајден</h5>
    <h3 class="md-subhead flex-100">Feels bad man</h3>
    <md-button class="md-accent md-hue-2 md-raised" ui-sref="home">Оди на почетна</md-button>
  </div>
</div>